.wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

.image {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.caption {
  margin-top: 8px;
  color: var(--color-text-muted);
  font-size: xx-small;
}
